<div class="card card-compact w-96 bg-base-100 shadow-xl m-4">
  <figure><img src="https://images.dog.ceo/breeds/setter-gordon/n02101006_3026.jpg" alt="Bicycle" /></figure>
  <div class="card-body">
    <h2 class="card-title">name</h2>
    <p>random</p>
    <div class="card-actions justify-start">
      <div class="badge badge-outline">Fashion</div>
      <div class="badge badge-outline">Products</div>
    </div>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div>
